<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HnchInfo.mapper.LoginMapper">
    <!-- 登录设置 -->
    <select id="login" resultType="HnchInfo.entity.Employee">
        select * from employee where sn = #{sn} and password= #{password}
    </select>

</mapper>