<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClassSystem.mapper.UserMapper">

    <!--登录验证-->
    <select id="login" parameterType="User" resultType="User">
        select * from t_user where username=#{username} and password=#{password};
    </select>

    <!--返回多少行-->
    <select id="TotalCount"  resultType="int">
        select count(1) from t_user;
    </select>

    <!--获取学生列表-->
    <select id="StudentList" parameterType="PageHelp" resultType="User">
        select * from t_user where roleid=3 limit #{start},#{end};
    </select>

    <!--查询框查询学生-->
    <select id="searchStudent" parameterType="User" resultType="User">
        select * from t_user where roleid=3
        <if test="username!=null">
            and (username = #{username} or username like concat('%',#{username},'%'))
        </if>
        <if test="name!=null">
            and (name = #{name} or name like concat('%',#{name},'%'))
        </if>
        <if test="dorm!=null">
            and (dorm = #{dorm} or dorm like concat('%',#{dorm},'%'))
        </if>
        limit #{start},#{end};
    </select>

    <!--返回多少行-->
    <select id="searchStudentTotal" parameterType="User" resultType="int">
        select count(1) from t_user where roleid=3
        <if test="username!=null">
            and (username = #{username} or username like concat('%',#{username},'%'))
        </if>
        <if test="name!=null">
            and (name = #{name} or name like concat('%',#{name},'%'))
        </if>
        <if test="dorm!=null">
            and (dorm = #{dorm} or dorm like concat('%',#{dorm},'%'))
        </if>
    </select>

    <!-- 根据UserName删除学生信息 -->
    <delete id="DeleteStudent" parameterType="User">
        delete from t_user where username=#{username}
    </delete>

    <!--获取老师列表-->
    <select id="TeacherList" parameterType="PageHelp" resultType="User">
        select * from t_user where roleid=2 limit #{start},#{end};
    </select>

    <!-- 根据UserName删除老师信息 -->
    <delete id="DeleteTeacher" parameterType="User">
        delete from t_user where username=#{username}
    </delete>
</mapper>