<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--登录-->
    <servlet>
        <servlet-name>DLCL</servlet-name>
        <servlet-class>第六章Servlet技术.Servlet.DLCL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DLCL</servlet-name>
        <url-pattern>/实训六/DLCL</url-pattern>
    </servlet-mapping>
    <!--查询所有学生信息-->
    <servlet>
        <servlet-name>FindAllStudent</servlet-name>
        <servlet-class>第六章Servlet技术.Servlet.FindAllStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindAllStudent</servlet-name>
        <url-pattern>/实训六/FindAllStudent</url-pattern>
    </servlet-mapping>
    <!--删除学生信息-->
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>第六章Servlet技术.Servlet.delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/实训六/delete</url-pattern>
    </servlet-mapping>
    <!--添加学生信息-->
    <servlet>
        <servlet-name>addStudent</servlet-name>
        <servlet-class>第六章Servlet技术.Servlet.addStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addStudent</servlet-name>
        <url-pattern>/实训六/addStudent</url-pattern>
    </servlet-mapping>
    <!--修改学生信息-->
    <servlet>
        <servlet-name>updateStudent</servlet-name>
        <servlet-class>第六章Servlet技术.Servlet.updateStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateStudent</servlet-name>
        <url-pattern>/实训六/updateStudent</url-pattern>
    </servlet-mapping>
    <!--分页显示下一页-->
    <servlet>
        <servlet-name>down</servlet-name>
        <servlet-class>第六章Servlet技术.Servlet.down</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>down</servlet-name>
        <url-pattern>/实训六/down</url-pattern>
    </servlet-mapping>
    <!--分页显示上一页-->
    <servlet>
        <servlet-name>up</servlet-name>
        <servlet-class>第六章Servlet技术.Servlet.up</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>up</servlet-name>
        <url-pattern>/实训六/up</url-pattern>
    </servlet-mapping>
    <!--投选票数-->
    <servlet>
        <servlet-name>TPCL</servlet-name>
        <servlet-class>第七章MVC.servlet.TPCL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TPCL</servlet-name>
        <url-pattern>/实训七/TPCL</url-pattern>
    </servlet-mapping>
    <!--第一个过滤器-->
    <filter>
        <filter-name>text</filter-name>
        <filter-class>第十章JSP过滤器.第一个过滤器</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>text</filter-name>
        <!--/*： 通配符 -->
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--统一字符集过滤器-->
    <filter>
        <filter-name>zfj</filter-name>
        <filter-class>第十章JSP过滤器.处理中文乱码</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>zfj</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--判断登录过滤器-->
    <filter>
        <filter-name>dlcl</filter-name>
        <filter-class>第六章Servlet技术.判断登录过滤器</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>dlcl</filter-name>
        <url-pattern>/实训六/处理/*</url-pattern>
    </filter-mapping>
    <!--测试Ajax，注册名是否可用-->
    <servlet>
        <servlet-name>text</servlet-name>
        <servlet-class>第十一章Ajax.Ajax注册验证</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>text</servlet-name>
        <url-pattern>/实训十一/checkName</url-pattern>
    </servlet-mapping>
    <!--测试Ajax，自动补全是否可用-->
    <servlet>
        <servlet-name>zdbq</servlet-name>
        <servlet-class>第十一章Ajax.Ajax自动补全</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>zdbq</servlet-name>
        <url-pattern>/实训十一/seachKeyWord</url-pattern>
    </servlet-mapping>
    <!--实训十三，相关业务-->
    <servlet>
        <servlet-name>regist</servlet-name>
        <servlet-class>第十三章论坛短消息.servlet.账号信息servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regist</servlet-name>
        <url-pattern>/实训十三综合/UserServlet</url-pattern>
    </servlet-mapping>
    <!--实训十三，相关业务-->
    <servlet>
        <servlet-name>neirong</servlet-name>
        <servlet-class>第十三章论坛短消息.servlet.Msgservlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>neirong</servlet-name>
    <url-pattern>/实训十三综合/MsgServlet</url-pattern>
    </servlet-mapping>
</web-app>